.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
}
.projects__section {
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;

  .filters {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: 2rem auto;
    .filter__item {
      cursor: pointer;
    }
  }
  .projects__container {
    margin-top: 2rem;
  }
}

.card {
  min-width: 200px;
  width: 300px;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
}
