.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
}
.projects__section {
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;

  .filters {
    
    display: flex;
    justify-content: space-between;
    width: 30rem;
    margin: 2rem auto;
    .btn {
      padding: 0.4rem 1rem;
      cursor: pointer;
    }
  }
  .projects__container {
    border : 1px solid red;
    width: 100%;
    margin: 4rem auto;
  }
}

.card {
  min-width: 200px;
  width: 300px;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .projects__section {
    .filters {
      display: flex;
      flex-direction: column;
      width: 15rem;
      gap: 1rem;
    }
    .projects__container {
      width: 100%;
    }
  }
}
