// font-family: "Playfair Display SC", serif;  <== titles font family
.section__title {
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-family: "Playfair Display SC", serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 2.4rem;
}
.bloc__title {
  font-family: "Playfair Display SC", serif;
  //text-align: center;
  color: #333;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-decoration: underline;
  text-transform: uppercase;
}
.curiculum__section,
.skills__section {
  max-width: 1440px;
  margin: 6rem auto;
  //border: 1px solid red;
}
.container {
  //border: 2px dashed black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6rem;
}

.link {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #b3b3b3;
  color: #4e4e4e;
}
.school,
.company,
.domain {
  font-size: 0.9rem;
  font-weight: 700;
}
.occupation,
.skills,
.award {
  color: #8c8c8c;
}

.bloc {
  margin: 0 auto;
  //text-align: center;
  //border: 1px dashed yellowgreen;
}

.list {
  margin-bottom: 2rem;
  //border: 1px solid red;
}

.list:first-of-type {
  margin-top: 3rem;
}
.date {
  color: #8c8c8c;
}

.curiculum__section {
  .section__subtitle {
    font-family: "Playfair Display SC", serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    display: block;
    color: #929292;
  }
}

@media(max-width: 400px){
  .section__title {
    font-size: 2rem;

  }
}