.navbar{
    border: 1px solid black;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title{
        font-size: 4rem;
        margin-top: 2rem;   
    }
    &__list{
        border: 2px solid red;
        width: 20rem;
        display: flex;
        justify-content: space-between;  
        margin-top: 2rem;   
        .navbar__link{
            font-size: 1.4rem;
        }     
    }
}