@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Playfair Display SC', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #222;
}

li {
  list-style-type: none;
  font-family: "Lato", sans-serif;
  line-height: 1.75em;
  
}
a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
